---
---
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import "reset";
@import "variables";

html {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	font-size: 100%;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	min-height: 100vh;
	height: auto;
	&:after {
		content: '';
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: -webkit-linear-gradient(45deg, #ff1a66 0%, rgba(255, 26, 102, 0) 70%), -webkit-linear-gradient(315deg, #0643f9 10%, rgba(6, 67, 249, 0) 80%), -webkit-linear-gradient(225deg, #0df259 10%, rgba(13, 242, 89, 0) 80%), -webkit-linear-gradient(135deg, #f99e1f 100%, rgba(249, 158, 31, 0) 70%);
		background: linear-gradient(45deg, #ff1a66 0%, rgba(255, 26, 102, 0) 70%), linear-gradient(135deg, #0643f9 10%, rgba(6, 67, 249, 0) 80%), linear-gradient(225deg, #0df259 10%, rgba(13, 242, 89, 0) 80%), linear-gradient(315deg, #f99e1f 100%, rgba(249, 158, 31, 0) 70%);
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	}
}

body {
  font: 18px/1.4 'Josefin Sans', sans-serif;
  color: #fff;
  min-height: 100vh;
  height: auto;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 28px;
}
h1 a {
  color: inherit;
}
h1:after {
  content: '';
  margin: 0 2.5%;
  width: 100%;
  border-bottom: 6px solid #fff;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #ddd;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

p {
  margin: 15px 0;
}

a {
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}
a.grad--bcn {
  background: -webkit-linear-gradient(right bottom, #FFF42D, #FFF498);
  background: linear-gradient(to left top, #FFF42D, #FFF498);
  color: #111;
}
a.grad--pac {
  background: -webkit-linear-gradient(right bottom, #4B321E, #E3D0A5);
  background: linear-gradient(to left top, #4B321E, #E3D0A5);
  color: #111;
}
a.grad--jss {
  background: -webkit-linear-gradient(right bottom, #44464B, #D4E1E4);
  background: linear-gradient(to left top, #44464B, #D4E1E4);
  color: #111;
}
a.grad--cov {
  background: -webkit-linear-gradient(right bottom, #6A8888, #9FB7CB);
  background: linear-gradient(to left top, #6A8888, #9FB7CB);
  color: #111;
}
a.grad--pol {
  background: -webkit-linear-gradient(right bottom, #EE2127, #EE8B70);
  background: linear-gradient(to left top, #EE2127, #EE8B70);
  color: #111;
}
a.grad--roc {
  background: -webkit-linear-gradient(right bottom, #C03F00, #F6907F);
  background: linear-gradient(to left top, #C03F00, #F6907F);
  color: #111;
}
a.grad--cit {
  background: -webkit-linear-gradient(right bottom, #00A7E6, #9BD8E6);
  background: linear-gradient(to left top, #00A7E6, #9BD8E6);
  color: #111;
}
a.grad--ten {
  background: -webkit-linear-gradient(right bottom, #C7B065, #D6C6A2);
  background: linear-gradient(to left top, #C7B065, #D6C6A2);
  color: #111;
}
a.grad--mar {
  background: -webkit-linear-gradient(right bottom, #A5781F, rgba(223, 223, 223, 0.8));
  background: linear-gradient(to left top, #A5781F, rgba(223, 223, 223, 0.8));
  color: #111;
}
a.grad--geo {
  background: -webkit-linear-gradient(right bottom, #3D9970, #2ECC40);
  background: linear-gradient(to left top, #3D9970, #2ECC40);
  color: #111;
}
a.grad--jan {
  background: -webkit-linear-gradient(right bottom, #242E4B, #C3D8ED);
  background: linear-gradient(to left top, #242E4B, #C3D8ED);
  color: #111;
}
a.grad--cbr {
  background: -webkit-linear-gradient(right bottom, #3F2C7B, #C3D8ED);
  background: linear-gradient(to left top, #3F2C7B, #C3D8ED);
  color: #111;
}
a.grad--cho {
  background: -webkit-linear-gradient(right bottom, #E5542F, #FDBAB2);
  background: linear-gradient(to left top, #E5542F, #FDBAB2);
  color: #111;
}
a.grad--goo {
  background: -webkit-linear-gradient(right bottom, #5784E5, #98B2F4);
  background: linear-gradient(to left top, #5784E5, #98B2F4);
  color: #111;
}

ul {
  margin: 15px 0;
  padding-left: 30px;
  list-style-type: disc;
}
ul ol {
  margin: 0;
}
ul ul {
  margin: 0;
  list-style-type: circle;
}

ol {
  margin: 15px 0;
  padding-left: 30px;
  list-style-type: decimal;
}
ol ul {
  margin: 0;
  list-style-type: circle;
}
ol ol {
  margin: 0;
}

em {
  font-style: italic;
}

i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

b {
  font-weight: bold;
}

.date {
  font-style: italic;
  color: #ddd;
}

:-moz-selection {
  color: #111;
  background: #eee;
}

:selection {
  color: #111;
  background: #eee;
}

.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
#main.container {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.container--default #main.container {
  margin-top: 5px;
  padding-bottom: 6%;
  background-color: #121212;
}
.container--default .wrapper-footer {
  display: block;
  margin: 2.5px 2.5px 0 2.5px;
}
.container--default h1 {
  letter-spacing: -2px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 2.5%;
  background-color: #121212;
}
.container--default .container__articleWrap {
  max-width: 892.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 100%;
  margin: auto;
}
.container--default article .entry h3 {
  -webkit-box-flex: 0.333;
  -ms-flex: 0.333;
  flex: 0.333;
  position: relative;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: normal;
  margin-bottom: 0;
  padding-right: 3.333%;
}
.container--default article .entry h3:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-right: solid 1.2px #111;
  height: 60%;
}
.container--default article .entry p {
  -webkit-box-flex: 0.666;
  -ms-flex: 0.666;
  flex: 0.666;
  margin-left: 3.333%;
  max-width: 700px;
}

.container--project .wrapper-footer {
  margin: 5px 0 0 0;
}
.container--project #main.container {
  background-color: #101412;
  width: 100%;
  height: auto;
}
.container--project article {
  display: block;
  width: 100%;
}
.container--project article > h3 {
  font-weight: normal;
  font-size: 33px;
  letter-spacing: -1.8px;
  line-height: 1.4em;
  margin: 1.5em auto;
  text-align: center;
}
.container--project article .entry h3 {
  font-size: 24px;
  letter-spacing: -1.8px;
  line-height: 1.2em;
  font-weight: normal;
  margin: 0.72em auto;
}
.container--project .entry {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.9em;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 6%;
  padding-bottom: 4%;
  position: relative;
  display: block;
  height: 100%;
}
.container--project .entry h3 {
  max-width: 892.5px;
  width: 95%;
  margin: auto;
}
.container--project .entry p {
  max-width: 892.5px;
  width: 95%;
  margin: auto;
  margin: 1.2em auto;
  line-height: 1.5em;
}
.container--project .entry p > img {
  max-width: 100%;
}
.container--project .entry ul {
  max-width: 892.5px;
  width: 95%;
  margin: auto;
  list-style-type: none;
  position: relative;
  line-height: 1em;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}
.container--project .entry li {
  position: relative;
  max-width: 95%;
  margin: 0;
}
.container--project .entry li:before {
  content: '*';
  display: inline-block;
  position: absolute;
  top: 6px;
}
.container--project .entry li p {
  margin: 0 auto;
}
.container--project .entry a {
  position: relative;
  max-width: 200px;
  padding: 12px 0;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
}
.container--project .entry > img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1122px;
  margin: auto;
}
.container--project .entry .first {
  width: 75%;
  max-width: 600px;
  text-align: center;
}
.container--project .entry h3.first {
  letter-spacing: 0.1em;
}
.container--project .entry__screensnap--half img {
  display: inline-block;
  vertical-align: top;
}
.container--project .entry__screensnap--half p {
  display: block;
}
.container--project .entry__branding {
  padding-top: 18%;
  background: url(images/google/logo-large.png), -webkit-linear-gradient(#7847b2, #7847b2);
  background: url(images/google/logo-large.png), linear-gradient(#7847b2, #7847b2);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.wrapper-masthead {
  padding: 0;
  background-color: transparent;
  max-height: 200px;
}

.wrapper-footer {
  margin: 5px 0 0 0;
  background-color: #fff;
}

.whois {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.whois__top {
  display: block;
  width: 100%;
}

.whois__name a {
  text-decoration: none;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.9em;
  line-height: 1.2em;
}

.whois--home .whois__top {
  position: relative;
  box-sizing: border-box;
  color: #001F3F;
  overflow: hidden;
  height: calc(100vh - 10px);
}
.whois--home .whois__btm {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 16px;
  bottom: 1rem;
  text-align: center;
  color: #fff;
  display: block;
  width: 100%;
}
.whois--home .whois__btm a {
  text-decoration: none;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.9em;
  line-height: 1.2em;
}
.whois--home .btm--half {
  position: relative;
  display: inline-block;
  width: 33.333%;
  max-width: 200px;
  padding: 0 16px 0 16px;
  padding: 0 1rem 0 1rem;
  border: solid 1px #ddd;
}

.top__screen {
  background: -webkit-linear-gradient(rgba(17, 17, 17, 0.9), rgba(17, 17, 17, 0.9)), url(images/space.jpg);
  background: linear-gradient(rgba(17, 17, 17, 0.9), rgba(17, 17, 17, 0.9)), url(images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  height: 100%;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
}

.top__video {
  position: relative;
  height: 100%;
  width: 100%;
}
.top__video iframe {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: auto;
}
.top__video video {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: auto;
  -webkit-mask: url(images/type.svg) no-repeat center center/50% 45%;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.top__video img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: auto;
  -webkit-mask: url(images/type.svg) no-repeat center center/50% 45%;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.top__video iFrame {
  -webkit-mask: url(images/type.svg) no-repeat center center/50% 45%;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.screen__logo {
  height: 100%;
}

.screen--spacer {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.screen--svg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.screen--svg .st0 {
  fill: #111;
}

.whois--project {
  background-color: transparent;
  width: 100%;
  margin: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.whois--project .whois__top {
  background-color: #fff;
  padding: 0;
  height: 16.5px;
  color: transparent;
}
.whois--project .whois__btm {
  background-color: #fff;
  padding: 0;
  height: 16.5px;
  color: transparent;
}
.whois--project .whois__name {
  position: relative;
  display: table;
  width: 100%;
}
.whois--project .site-name {
  color: #111;
  font-weight: normal;
  font-size: 0.9em;
  color: transparent;
}
.whois--project .site-description {
  color: #111;
  font-weight: normal;
  font-size: 0.9em;
  color: transparent;
}
.whois--project nav {
  width: 30%;
}

.name--spacer {
  display: none;
  visibility: hidden;
}

.name__third {
  display: table-cell;
  background-color: #fff;
  text-align: center;
  width: 12.333%;
  color: #001F3F;
  font-size: 14px;
}

.name__logomark {
  display: table-cell;
  background-image: url(images/hi_dc.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 17%;
  padding-top: 2%;
}
.name__logomark img {
  vertical-align: bottom;
  min-width: 100%;
  width: auto;
}
.name__logomark svg {
  vertical-align: bottom;
  min-width: 100%;
  width: auto;
}
.name__logomark #knockout {
  fill: #fff;
}

.logomark__inner {
  fill: #fff;
}

.top--full {
  width: 100%;
}

.btm--half a {
  display: inline-block;
  height: 100%;
}

.site-avatar {
  width: 40px;
  height: 40px;
}
.site-avatar img {
  border-radius: 5px;
}

.site-info {
  float: left;
}

.post__title {
  width: 100%;
  max-width: 356px;
  margin: 0 2.5%;
  margin: 0 6%;
  letter-spacing: 0;
}
.post__title a {
  text-decoration: none;
}

.post__byline {
  width: 100%;
  max-width: 356px;
  margin: 0 2.5%;
  font-size: 0.85em;
  line-height: 1.2em;
  margin: 6px 6%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.9em;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.post__title__link {
  text-decoration: none;
}

.post__logo {
  position: relative;
  width: 100%;
  max-width: 175px;
  padding: 9% 0;
  margin: auto;
  vertical-align: middle;
  background-size: cover;
}
.post__logo svg {
  position: relative;
  display: block;
  vertical-align: middle;
}

.post .entry a {
  text-decoration: none;
  border: solid 1px #fff;
  padding: 4.5px 12px;
  display: inline-block;
}
.post blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid #ddd;
  padding: 0.1em 1em;
  color: #ddd;
  font-size: 22px;
  font-style: italic;
}
.post .comments {
  margin-top: 10px;
}
.post .read-more {
  font-size: 0.9em;
  line-height: 1.2em;
}

.site-description {
  margin: -5px 0 0 0;
  color: #111;
  font-size: 16px;
}

.container--about .page {
  position: relative;
  padding-top: 2.5%;
  margin: auto;
}
.container--about .page .entry {
  padding: 2.5%;
  margin: auto;
}
.container--about article .entry {
  display: block;
}
.container--about article .entry h2 {
  margin: 0.3em auto;
}
.container--about article li {
  font-size: 14px;
  line-height: 1em;
  font-style: normal;
  display: block;
  position: relative;
  padding: 0;
}
.container--about article li:before {
  content: '*';
  display: inline-block;
  position: absolute;
  top: 6px;
}
.container--about article li p {
  display: inline-block;
  margin-left: 1em;
}
.container--about article p.intro {
  margin: 1.5em auto 3em;
  max-width: 450px;
}
.container--about article h3 + p {
  margin: 0;
}
.container--about article h4 + p {
  margin: 1em 0;
}
.container--about article em {
  font-size: 14px;
  line-height: 1em;
  font-style: normal;
  display: block;
  text-transform: uppercase;
}
.container--about article ul {
  font-size: 14px;
  line-height: 1em;
  font-style: normal;
  display: block;
  position: relative;
  padding: 0;
}
.container--about #main.container {
  background-color: #101412;
}
.container--about .entry {
  max-width: 768px;
  margin: auto;
}

article > h1 {
  text-align: left;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: normal;
}
article .entry {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.9em;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
article .entry p {
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}
article .entry img {
  width: 100%;
}

.entry__screensnap {
  max-width: 892.5px;
  width: 95%;
  margin: auto;
  position: relative;
  display: block;
  width: 100%;
  max-width: 1122px;
  margin: auto;
}
.entry__screensnap img {
  width: 100%;
}

.container__detail {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1122px;
  margin: auto;
  width: 100%;
  margin-top: 1.08em;
}
.container__detail img {
  vertical-align: bottom;
}
.container__detail .detail__caption {
  display: none;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
}
.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

footer {
  padding: 12px 0;
  text-align: center;
}
footer a {
  display: inline-block;
}
footer a .svg {
  vertical-align: bottom;
}

@media screen and (max-width: 640px) {
  h1 {
    line-height: 1.4;
  }

  h2 {
    line-height: 1.4;
  }

  h3 {
    line-height: 1.4;
  }

  h4 {
    line-height: 1.4;
  }

  h5 {
    line-height: 1.4;
  }

  .site-avatar {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }

  .site-description {
    margin: 3px 0;
  }

  .container--project .entry .first {
    width: 95%;
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .whois--project .whois__top {
    height: 1.2%;
  }
  .whois--project .whois__btm {
    height: 1.2%;
  }
}
@media screen and (min-width: 400px) {
  .name__third {
    width: 30.333%;
  }
}
@media screen and (min-width: 768px) {
  .name__third {
    width: 11.575%;
  }

  .name--spacer {
    width: 15%;
    background-color: #fff;
    display: table-cell;
    visibility: visible;
  }

  .container--project .entry__screensnap--half img {
    width: 50%;
  }
  .container--project .entry__screensnap--half p {
    display: inline-block;
    width: 50%;
    max-width: none;
    padding: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .name__third {
    width: 18%;
  }

  .name--spacer {
    width: 23%;
    background-color: #fff;
    display: table-cell;
    visibility: visible;
  }
}
@media screen and (min-width: 730px) {
  .post__logo {
    padding: 0;
    min-height: 250px;
  }
  .post__logo svg {
    position: absolute;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .container--default article {
    width: 50%;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  article {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .container--default .container__articleWrap {
    max-width: 1366px;
  }
  .container--default article {
    width: 33.333%;
    margin: auto;
  }

  .post__logo {
    padding: 0;
    max-width: 125px;
  }
}
@media screen and (min-width: 897.5px) {
  .container--project article {
    background-color: transparent;
  }
}
@media screen and (min-width: 640px) {
  .container--project .entry__screensnap--half p {
    width: 100%;
    max-width: 600px;
  }
  .container--project .entry__branding {
    padding-top: 14%;
  }

  .container__detail {
    margin-top: 0;
  }
  .container__detail img {
    display: inline-block;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 0.9em;
    line-height: 1.2em;
    position: relative;
    width: 50%;
    vertical-align: top;
  }
  .container__detail .detail__caption {
    display: inline-block;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 0.9em;
    line-height: 1.2em;
    position: relative;
    height: 100%;
    width: 50%;
    padding-right: 5%;
  }
  .container__detail .detail__caption p {
    margin: 0;
    position: relative;
    max-width: 450px;
  }
  .container__detail p {
    margin: 0;
    position: relative;
    max-width: 450px;
  }
}

/*****
 Imports
 *****/ 
@import "highlights";
@import "svg-icons";
