<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

{% include meta.html %}

<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>

<body class="container container--default">
<div class="whois  whois--home masthead">
<div class="whois__top top--full">
	<h1 class="site-name" style="display:none;"><a href="/">Danny Castillo</a></h1>
    <p class="site-description" style="display:none">Front End Web Developer</p>
    <div class="top__screen">    	
	<div class="top__video">		
 	    <div id="player__screen" style="position:absolute;top:0;left:0;height:100%;width:100%;background-color:rgba(255,0,0,0);z-index:1;"></div>
		<video width="100%" playsinline autoplay muted loop>
			<source src="{{ site.baseurl }}/images/tychoblender-github-io-texture.mp4" type="video/mp4" onerror="fallback(parentNode)">			
			<img src="{{ site.baseurl }}/images/sample.gif">
		</video>
	</div>
</div>
<div class="whois__btm">
	<div class="btm--half"><a href="#main">work</a></div> 
	<div class="btm--half"><a href="{{ site.baseurl }}/resume">resume</a></div>
</div>


<div id="main" role="main" class="container">
  {{ content }}
</div>

<div class="wrapper-footer">
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
</div>

{% include analytics.html %}
<script>
function fallback(video){
  var img = video.querySelector('img');
  if (img)
    video.parentNode.replaceChild(img, video);
}
</script>
</body>
</html>
